
<%= render 'video' %>


<hr>
<% if @name.present? %>
    <div class="card p-2 m-2">    
        <h2>Nom recherché : <%= @name %></h2>
    </div>

    <%= render 'meaning' %>
    
    <%= render 'namsor' %>



<% end %>
