<h1>Scraper#index</h1>
<p>Find me in app/views/scraper/index.html.erb</p>

<!-- app/views/scraper/index.html.erb -->

<h1>Scraping Results</h1>
<ul>
  <% @results.each do |result| %>
    <li><%= result %></li>
  <% end %>
</ul>
